---
import kaplayBanner from "@/assets/kaplay-banner.webp";
import { Image } from "astro:assets";
import AboutFeatured from "./AboutFeatured.astro";
---

<div class="text-pangolin flex-1 p-4" id="about">
    <div
        class="flex h-full w-full flex-col-reverse items-center justify-center gap-16 lg:flex-row"
    >
        <div class="max-w-xl">
            <h1 class="text-pretty text-5xl font-bold leading-[3.2rem]">
                The <span class="text-primary">fun</span> and open source game
                library for <span class="text-primary">HTML5 Games</span>
            </h1>
            <p class="py-6 text-xl">
                <strong>KAPLAY</strong>
                <span class="text-rubik italic">(/ˈkæpleɪ/)</span> это
                JavaScript и TypeScript игровая библиотека которая упрощает
                создание игр для web. Она свободная и с открытым исходным кодом и веселая.
            </p>

            <div class="grid grid-cols-2 gap-4">
                <AboutFeatured friend="apple">
                    Дружелюбный API. Просто учить, просто обучать.
                </AboutFeatured>

                <AboutFeatured friend="bag">
                    Куча примеров и активов, чтобы начать.
                </AboutFeatured>

                <AboutFeatured friend="bean">
                    Сильная поддержка TypeScript.
                </AboutFeatured>

                <AboutFeatured friend="heart">
                    Открытый исходный код, бесплатный и навсегда.
                </AboutFeatured>
            </div>

            <div class="mt-4 flex flex-row flex-wrap gap-2">
                <a class="btn btn-primary" href="/guides/install">
                    Исследуйте документацию
                </a>
                <a
                    class="btn btn-neutral"
                    href="https://discord.com/invite/aQ6RuQm3TF"
                >
                    Присоединяйтесь к нам в Discord
                </a>
                <a class="btn btn-neutral" href="https://play.kaplayjs.com">
                    Играйте в KAPLAYGROUND
                </a>
            </div>
        </div>
        <div>
            <Image
                src={kaplayBanner}
                alt="KAPLAY Banner"
                height={1400}
                width={500}
                loading={"eager"}
                quality={100}
                decoding={"sync"}
            />
        </div>
    </div>
</div>
